.departments{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;

    img{
        width: 350px;
        height: 250px;
    }
    #last{
        margin-top: 25px;
        font-size: 22px;
        font-weight:500;
    }
}